APScheduler==3.8.1
awswrangler==2.14.0
certifi==2020.6.20
fastapi==0.73.0
pandas==1.3.5
pymongo==4.0.1
python-dotenv==0.19.2
pytz==2021.3
requests==2.27.1
SQLAlchemy==1.4.31
uvicorn==0.17.4
psycopg2-binary==2.9.3
dnspython==2.2.0
redshift-connector==2.0.904
slackclient==2.9.3
kafka-python==2.0.2
boto3==1.21.29
streamlit==1.8.1